{% extends "employer/base.html" %}

{% block title %}
view application
{% endblock %}

{% block nav %}
{% include "employer/nav.html" %}
{% endblock %}

{% block main %}
<div class="mt-2">
    <h3><b>{{profile.name}}</b> Appllied to <b>{{job.title}}</b></h3>
    <hr />
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" value={{profile.name}} disabled>
        </div>
        <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" value={{request.user.email}} disabled>
        </div>
        <div class="row mb-2">
            <div class="col-sm-5">
                <label for="resume" class="form-label">Resume **disbaled becasue website hosted on free services</label>
            </div>
            <div class="col-sm-7">
                <a href="/jobs/resume/{{application.resume}}/" target="_blank"
                    class="col-sm-8 form-control btn btn-sm btn-primary disabled">view
                    resume</a>
            </div>
        </div>
        <div class="mb-2">
            <label for="coverletter" class="form-label">Cover letter</label>
            <textarea class="form-control" id="coverletter" cols="100" rows="4" name="coverletter"
                disabled>{{application.cover_letter}}</textarea>
        </div>
        <div class="row">
            <div class="col-sm d-grid mt-1">
                <a href="/employer/chat/{{application.id}}/" class="btn btn-info">Chat With Candidate</a>
            </div>
            <div class="col-sm d-grid mt-1">
                <a href="/employer/schedule-interview/{{application.id}}/" class="btn btn-primary">Invite to
                    interview</a>
            </div>
            <div class="col-sm d-grid mt-1">
                <a href="/employer/hire/{{application.id}}/" class="btn btn-success m">Hire candidate</a>
            </div>
            <div class="col-sm d-grid mt-1">
                <a href="/employer/reject/{{application.id}}/" class="btn btn-danger m">Reject candidate</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}