{% extends "employer/base.html" %}

{% block title %}
chat with candidate

{% endblock %}

{% block nav %}
{% include "employer/nav.html" %}
{% endblock %}

{% block main %}
<div class="mt-2">
    <h5><b>{{profile.name}}</b> Appllied to <b>{{job.title}}</b></h5>
    <p class="text-secondary">*page relode automatically after every 5 seconds</p>
    <hr />
    <div class="card overflow-auto" id="msg">
        <h5 class="card-header text-dark">Chat</h5>
        <div style="overflow-y: scroll !important; height:200px !important;">
            {% for msg in messages %}
            {% if msg.from_id != request.user.id %}
            <div class="media-chat">
                <p>{{msg.message}}</p>
                <p class="text-secondary">{{msg.timestamp}}</p>
            </div>
            {% else %}
            <div class="media-chat-reverse">
                <p>{{msg.message}}</p>
                <p class="text-secondary">{{msg.timestamp}}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-2">
            <label for="coverletter" class="form-label">Send message to <b>{{profile.name}}</b></label>
            <textarea class="form-control" id="coverletter" cols="100" rows="4" name="message"></textarea>
        </div>
        <div class="row">
            <div class="col-sm d-grid">
                <button type="submit" class="btn btn-primary m">send</button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        setTimeout(() => {
            location.relode()
        }, 50000);
    </script>
</div>
{% endblock %}