{% extends "dashboard/base.html" %}

{% block title %}
all jobs
{% endblock %}

{% block nav %}
{% include "dashboard/nav.html" %}
{% endblock %}

{% block main %}
<div class="row mt-3 mb-2">
    <form>
        <div class="input-group">
            <select class="form-select" name="status">
                <option value="-1" selected>Select Status</option>
                <option value="0">Waiting</option>
                <option value="1">Viewed</option>
                <option value="2">Hired</option>
                <option value="3">Rejected</option>
            </select>
            <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
        </div>
    </form>
</div>

<h3>Your Applications</h3>
<hr />
<table class="table table-striped table-bordered border-success">
    <thead align="center">
        <tr>
            <th width="5%" scope="col-sm">#</th>
            <th width="70%" scope="col">Application Description</th>
            <th width="9%" scope="col">status</th>
            <th width="8%" scope="col">View Job</th>
            <th width="8%" scope="col">Chat With Employer</th>
        </tr>
    </thead>
    <tbody align="center">
        {% for application in applications %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td align="left">You applied to {{application.1.title}}</td>
            <td>{{application.2}}</td>
            <td><a href="/jobs/{{application.1.code}}/" class="btn btn-sm btn-primary">View Job</a></td>
            <td><a href="/chat/{{application.0.id}}/" class="btn btn-sm btn-primary">Chat</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}