{% extends "dashboard/base.html" %}

{% block title %}
apply job
{% endblock %}

{% block nav %}
{% include "dashboard/nav.html" %}
{% endblock %}

{% block main %}
<div class="mt-2">
    <h3>Apply to <b>{{job.title}}</b> from <b>{{company}}</b></h3>
    <hr />
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" value={{profile.name}} disabled>
        </div>
        <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" value={{request.user.email}} disabled>
        </div>
        <div class="mb-2">
            <label for="resume" class="form-label">Resume **disbaled becasue website hosted on free services</label>
            <input type="file" accept="application/pdf" class="form-control" id="resume" name="file" disabled>
        </div>
        <div class="mb-2">
            <label for="coverletter" class="form-label">Cover letter(optional)</label>
            <textarea class="form-control" id="coverletter" cols="100" rows="4" name="coverletter"></textarea>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </form>
</div>
{% endblock %}